<div class="main movie-show">
  <div class="container">
    <div class="movie">
        <div class="info">
        <h3 class="movie-title"> <%= @event.title %> </h3>
        <p class="movie-release-year"> <%= @event.description %> </p>
        <p class="movie-plot"> <%= @event.date %> </p>
      </div>
    </div>

    <h2>Attendees</h2>
    <% @attendees.each do |attendee| %>
      <div class="actor">
        <h3 class="actor-name"><%= attendee.username %> </h3>
      </div>
    <% end %>

  </div>
</div>